[mysqld]
general_log = 1
general_log_file = /var/log/mysql/general.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
log_error = /var/log/mysql/error.log

log_output = FILE
max_binlog_size = 100M

log_error_verbosity = 3

max_connections = 100
max_allowed_packet = 16M
long_query_time = 1
log_slow_admin_statements = 1